/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300&display=swap');

/* Merriweather light */
@font-face {
    font-family: "Merriweather";
    src: url("../font/Merriweather-Light.eot");
    src: url("../font/Merriweather-Light.eot?#iefix") format('embedded-opentype'),
         url("../font/Merriweather-Light.woff2") format('woff2'),
         url("../font/Merriweather-Light.woff") format('woff'),
         url("../font/Merriweather-Light.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
/* Merriweather regular */
@font-face {
    font-family: "Merriweather";
    src: url("../font/Merriweather-Regular.eot");
    src: url("../font/Merriweather-Regular.eot?#iefix") format('embedded-opentype'),
         url("../font/Merriweather-Regular.woff2") format('woff2'),
         url("../font/Merriweather-Regular.woff") format('woff'),
         url("../font/Merriweather-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* Merriweather bold */
@font-face {
    font-family: "Merriweather";
    src: url('../font/Merriweather-Bold.eot');
    src: url('../font/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Merriweather-Bold.woff2') format('woff2'),
         url('../font/Merriweather-Bold.woff') format('woff'),
         url('../font/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Roboto thin */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Thin.eot");
    src: url("../font/Roboto-Thin.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Thin.woff2") format('woff2'),
         url("../font/Roboto-Thin.woff") format('woff'),
         url("../font/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
/* Roboto light */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.eot");
    src: url("../font/Roboto-Light.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Light.woff2") format('woff2'),
         url("../font/Roboto-Light.woff") format('woff'),
         url("../font/Roboto-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
/* Roboto medium */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.eot");
    src: url("../font/Roboto-Medium.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Medium.woff2") format('woff2'),
         url("../font/Roboto-Medium.woff") format('woff'),
         url("../font/Roboto-Medium.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* Roboto regular */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.eot");
    src: url("../font/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Regular.woff2") format('woff2'),
         url("../font/Roboto-Regular.woff") format('woff'),
         url("../font/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Roboto bold */
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Bold.woff2') format('woff2'),
         url('../font/Roboto-Bold.woff') format('woff'),
         url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*End*/
*
{
	margin: 0;
	padding: 0;
}
/*Start Call Info Bar*/
.callinfobar-wrapper
{
	padding: .5rem 1rem;
}
.callinfobar-wrapper .box-left span
{
	font-family: serif;
	color: #696969;
}
.callinfobar-wrapper .box-left span:first-of-type
{
	margin-right: 3rem;
}
.callinfobar-wrapper .box-right .search-form .search-box
{
	background: #e1e1e1;
	border: 1px solid #e1e1e1;
	border-radius: 25px;
	width: 230px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 2px #e1e1e1;
	        box-shadow: 0 0 2px #e1e1e1;
	float: right;
}
.callinfobar-wrapper .box-right .search-form .search-box input[type='text']
{
	border: none;
	border-radius: 25px;
	outline: 0;
	padding: 0.1rem 1rem;
	width: 80%;
	color: #404040;
	background: #e1e1e1;
	font-size: 0.9rem;
}
.callinfobar-wrapper .box-right .search-form .search-box input[type='text']::-webkit-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
}
.callinfobar-wrapper .box-right .search-form .search-box input[type='text']:-ms-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
}
.callinfobar-wrapper .box-right .search-form .search-box input[type='text']::-ms-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
}
.callinfobar-wrapper .box-right .search-form .search-box input[type='text']::placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
}
.callinfobar-wrapper .box-right .search-form .search-box i
{
	background: #000000;
	color: #fff;
	font-size: 0.7rem;
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin: .1rem .3rem 0 0;
	padding: .4rem .4rem;
	float: right;
}
.callinfobar-wrapper .box-right .search-form .search-box:hover
{
	-webkit-box-shadow: 0 0 10px #e1e1e1;
	        box-shadow: 0 0 10px #e1e1e1;	
}
@media screen and (max-width: 1000px) 
{

	.callinfobar-wrapper .box-left
	{
		text-align: center !important;
	}
	.callinfobar-wrapper .box-left span
	{
		display: block;
	}	
	.callinfobar-wrapper .box-right .search-form .search-box
	{
		margin: 1rem auto;
		float: none;
	}	
	
}
/*End Call Info Bar*/
/*Start Header*/
.header-wrapper
{
	padding: 1rem 0;
	border-bottom: 2px solid #b1ed2f;
	background: #222222;
	color: #fff;
}
.header-wrapper .divider
{
	background: #cccccc;
	display: inline-block;
	width: 1px;
	height: 2.7rem;
	margin: 0 .7rem;
	padding: 0;
	-webkit-box-shadow: 0 0 1px #cccccc;
	        box-shadow: 0 0 1px #cccccc;
}
.header-wrapper .logo
{
	margin: 0 10rem 1rem 0;
}
.header-wrapper .logo a
{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.7rem;
	font-family: 'Merriweather', serif;
	font-weight: 100;
}
.header-wrapper .logo a span
{
	font-size: 2.2rem;
	display: inline-block;
	-webkit-transform: scale(1.1, 1.2);
	    -ms-transform: scale(1.1, 1.2);
	        transform: scale(1.1, 1.2);
	position: relative;
	top: -2px;
	left: -2px;
}
.header-wrapper .logo p
{
	font-size: 0.9rem;
	font-family: serif;
	margin: -.5rem 0 0 0;
	padding: 0;
}
.header-wrapper ul li > a
{
	color: #fff !important;
	font-family: 'Noto Sans HK', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.header-wrapper ul li > a.active
{
	color: #7c9c37 !important;
	text-shadow: 0 1px 2px #7c9c37;
}
.header-wrapper ul li > p
{
	color: #cccccc;
	font-size: .8rem;
	margin: 0;
	padding: 0 0 0 .5rem;
}
.header-wrapper ul li > a:hover
{
	color: #7c9c37 !important;
	text-shadow: 0 1px 2px #7c9c37;
}
@media screen and (max-width: 1000px) 
{

	.header-wrapper .logo
	{
		margin-right: 0;
	}	
	.header-wrapper ul li
	{
		margin-bottom: .5rem;
	}
	.header-wrapper ul li > p
	{
		padding: 0;
	}	
	.header-wrapper .divider
	{
		display: none;
	}
	
}
/*End Header*/
/*Start Main Slider*/
.mainslider-wrapper
{
	padding: 0;
	margin: 0;
	background: #333333;
}
.mainslider-wrapper .main-slider .carousel-inner .carousel-item
{
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.mainslider-wrapper .main-slider .carousel-control-prev i, .carousel-control-next i
{
	background: #000000;
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: .6rem .9rem;
	border-radius: 50%;
	border: 2px solid #cccccc;
	-webkit-box-shadow: 0 0 2px #cccccc;
	        box-shadow: 0 0 2px #cccccc;
	font-size: 1.9rem;
	color: #fff;
}
/*End Main Slider*/
/*Start Shout*/
.shout-wrapper
{
	padding: 3rem 0 0 0;
	background: #fff;
}
.shout-wrapper .divider
{
	background: #e8e8e8;
	width: 90%;
	height: 5px;
	display: block;
	border-radius: 50%;
	margin: 3rem auto;
	padding: 0;
}
.shout-wrapper .text-quote
{
	width: 68%;
	margin: 0 auto;
	padding: 0;
}
.shout-wrapper .text-quote p
{
	padding: 0;
	margin: 0;
	color: #333333;
	font-size: 1.5rem;
	font-style: italic;
	font-family: 'Merriweather';
	font-weight: 100;
}
/*End Shout*/
/*Start Latest Work*/
.latestwork-wrapper
{
	background: #fff;
	margin: 0;
	padding: 0;
}
.latestwork-wrapper .divider
{
	background: #e8e8e8;
    width: 80%;
    height: 5px;
    display: block;
    border-radius: 50%;
    margin: 3rem auto;
    padding: 0;
}
.latestwork-wrapper .card
{
	width: 90% !important;
	margin: 0 auto;
	background: -webkit-gradient(linear, left bottom, right top, from(#ffffff), color-stop(#fefeff), color-stop(#fcfdfe), color-stop(#fbfdfd), color-stop(#f9fcfc), color-stop(#f6f9f9), color-stop(#f2f6f5), color-stop(#eff3f2), color-stop(#e9eced), color-stop(#e4e6e7), color-stop(#dfdfe0), to(#d9d9d9));
	background: -webkit-linear-gradient(left bottom, #ffffff, #fefeff, #fcfdfe, #fbfdfd, #f9fcfc, #f6f9f9, #f2f6f5, #eff3f2, #e9eced, #e4e6e7, #dfdfe0, #d9d9d9);
	background: -o-linear-gradient(left bottom, #ffffff, #fefeff, #fcfdfe, #fbfdfd, #f9fcfc, #f6f9f9, #f2f6f5, #eff3f2, #e9eced, #e4e6e7, #dfdfe0, #d9d9d9);
	background: linear-gradient(to right top, #ffffff, #fefeff, #fcfdfe, #fbfdfd, #f9fcfc, #f6f9f9, #f2f6f5, #eff3f2, #e9eced, #e4e6e7, #dfdfe0, #d9d9d9);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.latestwork-wrapper .card .card-img-top
{
	width: 100%;
	height: 100%;
}
.latestwork-wrapper .card .card-body .card-title
{
	color: #7c9c37;
	font-family: 'Noto Sans HK', serif;
	font-weight: 300;
	font-size: 1.2rem;
}
.latestwork-wrapper .card .card-body .card-text
{
	color: #666666;
	font-size: 0.9rem;
}
.latestwork-wrapper .card:hover
{
	background: #1a75ff;
	cursor: pointer;
}
.latestwork-wrapper .card:hover .card-body .card-title
{
	color: #e6ffcc;
}
.latestwork-wrapper .card:hover .card-body .card-text
{
	color: #f2f2f2;
}
@media screen and (max-width: 1000px) 
{

	.latestwork-wrapper .box-margin
	{
		margin-bottom: 1rem;
	}

}
/*End Latest Work*/ 
/*Start Content*/
.content-wrapper
{
	background: #fff;
}
.content-wrapper .title
{
	background: #262626;
	padding: .5rem 1rem;
	-webkit-box-shadow: -1px -1px 5px #262626;
	        box-shadow: -1px -1px 5px #262626;
	margin-bottom: 1.5rem;
}
.content-wrapper .title p
{
	float: left;
	padding: 0;
	margin: 0;
	color: #f2f2f2;
	font-family: 'Roboto';
	font-weight: 100;
}
.content-wrapper .title a
{
	float: right;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #f2f2f2;
	font-family: 'Roboto';
	font-weight: 200;
}
.content-wrapper .title a i
{
	font-size: 0.7rem;
	display: inline-block;
	background: -webkit-gradient(linear, left bottom, right top, from(#ff80ff), color-stop(#f66eec), color-stop(#ed5cd8), color-stop(#e449c5), color-stop(#da33b2), color-stop(#d027ad), color-stop(#c718a9), color-stop(#bd00a4), color-stop(#af00ad), color-stop(#9d00b7), color-stop(#8600c1), to(#6600cc));
	background: -webkit-linear-gradient(left bottom, #ff80ff, #f66eec, #ed5cd8, #e449c5, #da33b2, #d027ad, #c718a9, #bd00a4, #af00ad, #9d00b7, #8600c1, #6600cc);
	background: -o-linear-gradient(left bottom, #ff80ff, #f66eec, #ed5cd8, #e449c5, #da33b2, #d027ad, #c718a9, #bd00a4, #af00ad, #9d00b7, #8600c1, #6600cc);
	background: linear-gradient(to right top, #ff80ff, #f66eec, #ed5cd8, #e449c5, #da33b2, #d027ad, #c718a9, #bd00a4, #af00ad, #9d00b7, #8600c1, #6600cc);
	padding: .5rem 1rem;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px #CC0099;
	        box-shadow: 0 0 10px #CC0099;
	text-shadow: 0 1px 1px #f2f2f2;
}
.content-wrapper .box-left img
{
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 1rem;
}
.content-wrapper .box-left .contents-body
{
	float: left;
    width: 260px;
}
.content-wrapper .box-left .contents-body h1
{
	font-size: 1.2rem;
	color: #333333;
}
.content-wrapper .box-left .contents-body p
{
	font-size: 0.9rem;
	color: #595959;
}
.content-wrapper .box-right .col-box
{
	margin-bottom: 1rem;
}
.content-wrapper .box-right img
{
	width: 100%;
	height: 225px;
}
.content-wrapper .box-right .card-body p
{
	margin: 0;
	padding: 0 0 .5rem 0;
	font-size: 1rem;
}
.content-wrapper .box-right .card-body span
{
	color: #404040;
	font-weight: bold;
}
.content-wrapper .box-right .card-body a
{
	-webkit-box-shadow: 2px 2px 5px #343a40;
	        box-shadow: 2px 2px 5px #343a40;
}
.content-wrapper .box-right .card-body a i
{
	font-size: 0.7rem;
}
/*End Content*/
/*Start Footer*/
.footer-wrapper
{
	padding: 3rem 0;
	margin-top: 2rem;
	background: #222222;
}
.footer-wrapper .box01, 
.box02, .box03, .box04
{
	margin-bottom: 1rem;
}
.footer-wrapper h2
{
	color: #cccccc;
	font-size: 1.1rem;
	font-family: 'Roboto';
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.footer-wrapper .box01 img
{
	width: 215px;
	height: 90px;
	margin-top: .5rem;
}
.footer-wrapper .box01 p
{
	color: #b3b3b3;
	font-size: 0.8rem;
	font-family: 'Merriweather';
	font-weight: 100;
	line-height: 1.7;
	margin-top: 1rem;
}
.footer-wrapper .box01 a
{
	color: #fff7e6;
	font-size: 0.9rem;
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: 100;
}
c a i
{
	font-size: 0.7rem;
}
.footer-wrapper .box02 ul li
{
	border-bottom: 1px solid #fff7e6;
	padding-bottom: .2rem;
}
.footer-wrapper .box02 ul li::before
{
	content: '\f101';
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	color: #fff7e6;
	font-size: 0.6rem;
	margin-right: 0.5rem;
}
.footer-wrapper .box02 ul li a
{
	text-decoration: none;
	color: #7c9c37;
	font-size: 0.9rem;
	text-shadow: 0px 0px 1px #7c9c37;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-wrapper .box02 ul li:hover a
{
	letter-spacing: 2px;
	padding-left: 1rem;
}
.footer-wrapper .box03 .blog-post
{
	margin-bottom: 1rem;
}
.footer-wrapper .box03 .blog-post h1
{
	color: #b3b3b3;
	font-size: 1rem;
	font-family: serif;
	margin: 0 0 -0.5rem 0;
}

.footer-wrapper .box03 .blog-post span
{
	color: #a6a6a6;
	font-size: 0.6rem;
}
.footer-wrapper .box03 .blog-post p
{
	color: #b3b3b3;
	font-size: 0.7rem;
	font-family: 'Merriweather';
	font-weight: 100;
	line-height: 1.7;
	margin: .5rem 0;
	padding: 0;
}
.footer-wrapper .box03 .blog-post a
{
	color: #fff7e6;
	font-size: 0.9rem;
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: 100;
}
.footer-wrapper .box03 .blog-post a i
{
	font-size: 0.7rem;
}
.footer-wrapper .box04 p
{
	color: #b3b3b3;
	font-size: 0.7rem;
	font-family: 'Merriweather';
	font-weight: 100;
	margin: .5rem 0;
	padding: 0;
}
.footer-wrapper .box04 p a
{
	color: #d3ff3a;
}
.footer-wrapper .box04 .newsletter
{
	margin: 2rem 0 1rem 0;
}
.footer-wrapper .box04 .newsletter h2
{
	margin: 0 0 1.5rem 0;
}
.footer-wrapper .box04 .newsletter input[type='text']
{
	margin-bottom: .5rem;
	background: #353535;
	color: #bfbfbf;
	border-color: #353535;
}
.footer-wrapper .box04 .newsletter input[type='text']::-webkit-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
	font-family: 'Merriweather';
	font-weight: 100;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-wrapper .box04 .newsletter input[type='text']:-ms-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
	font-family: 'Merriweather';
	font-weight: 100;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-wrapper .box04 .newsletter input[type='text']::-ms-input-placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
	font-family: 'Merriweather';
	font-weight: 100;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-wrapper .box04 .newsletter input[type='text']::placeholder
{
	font-size: 0.7rem;
	color: #8c8c8c;
	font-family: 'Merriweather';
	font-weight: 100;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-wrapper .box04 .newsletter input[type='text']:focus::-webkit-input-placeholder
{
	font-size: 0;
}
.footer-wrapper .box04 .newsletter input[type='text']:focus:-ms-input-placeholder
{
	font-size: 0;
}
.footer-wrapper .box04 .newsletter input[type='text']:focus::-ms-input-placeholder
{
	font-size: 0;
}
.footer-wrapper .box04 .newsletter input[type='text']:focus::placeholder
{
	font-size: 0;
}
.footer-wrapper .box04 .newsletter input[type='submit']
{
	background: -webkit-gradient(linear, left bottom, right top, from(#e6ffe6), color-stop(#e3ffde), color-stop(#e1ffd5), color-stop(#e1ffcb), color-stop(#e2ffc1), color-stop(#dfffb8), color-stop(#dbffae), color-stop(#d8ffa4), color-stop(#ccff9a), color-stop(#bfff90), color-stop(#b0ff88), to(#9fff80));
	background: -webkit-linear-gradient(left bottom, #e6ffe6, #e3ffde, #e1ffd5, #e1ffcb, #e2ffc1, #dfffb8, #dbffae, #d8ffa4, #ccff9a, #bfff90, #b0ff88, #9fff80);
	background: -o-linear-gradient(left bottom, #e6ffe6, #e3ffde, #e1ffd5, #e1ffcb, #e2ffc1, #dfffb8, #dbffae, #d8ffa4, #ccff9a, #bfff90, #b0ff88, #9fff80);
	background: linear-gradient(to right top, #e6ffe6, #e3ffde, #e1ffd5, #e1ffcb, #e2ffc1, #dfffb8, #dbffae, #d8ffa4, #ccff9a, #bfff90, #b0ff88, #9fff80);
	color: #fff;
	font-family: 'Merriweather';
	font-weight: 100;
	font-size: 1rem;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out !important;
	-o-transition: all .3s ease-in-out !important;
	transition: all .3s ease-in-out !important;
}
.footer-wrapper .box04 .newsletter input[type='submit']:hover
{
	padding: .375rem 3rem;
	letter-spacing: 2px;
	color: #333333;
}
/*End Footer*/
/*Start Copyrights*/
.copyright-wrapper
{
	padding: 1rem 0;
	background: #222222;
	color: #b3b3b3;
	font-size: 0.9rem;
	border-top: 4px double #262626;
}
/*End Copyrights*/